  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.id}}" placeholder="Student_ID" name="id">
      <label for="floatingInput">Student_ID</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.name}}" placeholder="Name" name="name">
      <label for="floatingInput">Name</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.batch}}" placeholder="number" name="batch">
      <label for="floatingInput">Batch</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.gender}}" placeholder="text" name="gender">
      <label for="floatingInput">Gender</label>
    </div>
  </div>
   <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.department}}" placeholder="text" name="department">
      <label for="floatingInput">Department</label>
    </div>
  </div>
   <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.phone}}" placeholder="text" name="phone">
      <label for="floatingInput">Phone</label>
    </div>
  </div>
   <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.email}}" placeholder="text" name="email">
      <label for="floatingInput">Email</label>
    </div>
  </div>

  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>