{{#if removedUser}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  User has been removed.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#if alert}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{alert}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{{/if}}

<div class="row">
  <div class="col-6">
    <h1>Results</h1>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <a href="/addresult" type="button" class="btn btn-primary align-self-center">Add Result</a>
  </div>
  <form class="d-flex" method="POST" action="/result" novalidate>
    <input class="form-control me-2" type="search" placeholder="Search" name="sr" aria-label="Search" style="width:20%">
    <button type="submit">Search</button>
  </form>
</div>
<br>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Student ID</th>
      {{!-- <th scope="col">Semester</th>
      <th scope="col">CGPA</th> --}}
      <th scope="col" class="text-end">Action</th>
    </tr>
  </thead>
  <tbody>

    {{#each rows}}
    <tr>
      <th scope="row">{{this.id}}</th>
      {{!-- <td>{{this.semester}}</td>
      <td>{{this.cgpa}}</td> --}}
      <td class="text-end">
        <a href="/viewresult/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"></i>
          View</a>
      </td>
    </tr>
    {{/each}}

  </tbody>
</table>