<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">View Student</li>
  </ol>
</nav>

<div class="view-user p-5">
  <div class="row mb-5">
    <div class="col text-center">
      <h3>{{this.name}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Student ID</th>
            <th scope="col">Name</th>
            <th scope="col">Batch</th>
            <th scope="col">Semester</th>
            <th scope="col">CGPA</th>
          </tr>
        </thead>
      
        <tbody>
          {{#each rows}}
          <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.name}}</td>
            <td>{{this.batch}}</td>
            <td>{{this.semester}}</td>
            <td>{{this.cgpa}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

</div>