<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">View Student</li>
  </ol>
</nav>

<div class="view-user p-5">
  {{#each rows}}
  <div class="row mb-5">
    <div class="col text-center">
      <h3>{{this.name}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Student ID</th>
            <th scope="col">Name</th>
            <th scope="col">Batch</th>
            <th scope="col">Gender</th>
            <th scope="col">Department</th>
            <th scope="col">Phone</th>
            <th scope="col">email</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.name}}</td>
            <td>{{this.batch}}</td>
            <td>{{this.gender}}</td>
            <td>{{this.department}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.email}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {{/each}}

</div>